/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
.form-label {
    float:left;
    width:150px;
    text-align: right;
    padding-right: 12px;
    margin-top: 20px;
    margin-left: 20%;
    clear: left;
    color: black;
 }

 label {
    float: left;
    margin-top: 20px;
    clear: left;
 }

 .visibility {
    float: left;
    white-space: nowrap;
    margin-top: 20px;
 }

 .darkLabel {
    float: left;
    margin-top: 20px;
    color: black;
 }

 input, textarea{
    margin-top: 20px;
    width: 40%;
 }
 .red-star {
    margin-top: 20px;
    color: red;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

textarea.ng-invalid.ng-touched {
   border: 1px solid red;
}

.newBlank{
   height: 280px;
   width: 100%;
   background-color:whitesmoke;
   text-align: center;
   vertical-align: middle;
   align-items: center;
}

