.DS_Store
.idea
*.iml
*.properties
*.gradle
*.tgz
*.tar.gz
*.jar
target
submodules/tony/tony-core/build
submarine-workbench/submarine-web/node
submarine-workbench/submarine-web/node_modules
submarine-workbench/submarine-web/dist
submarine-workbench/submarine-web/.env.local
submarine-workbench/submarine-web/.env.*.local
submarine-workbench/submarine-web/npm-debug.log*
submarine-workbench/submarine-web/yarn-debug.log*
submarine-workbench/submarine-web/yarn-error.log*
