<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<nz-modal [nzVisible]="visible" [nzTitle]="modalTitle" nzCancelText="Close" nzOkText="Ok" (nzOnCancel)="hideModal()"
          (nzOnOk)="submitForm()">
  <form nz-form nzLayout="horizontal" [formGroup]="form">
    <nz-form-item>
      <nz-form-label nzRequired>
        Dictionary Code
      </nz-form-label>
      <nz-form-control>
        <input type="text" nz-input formControlName="dictCode"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>
        Dictionary Name
      </nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="dictName"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>
        Description
      </nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="description"/>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
