/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.horizontal_dotted_line{
  border-top: 2px dotted whitesmoke;
  color:transparent;
} 

#trainingDiv{
  margin: 30px;
  padding: 10px;
  background-color:white;
}

.leaveMargin{
  margin-left: 10px;
}

.leaveBothMargin{
  margin: 10px;
}

.othersLabel{
  color: rgb(122, 114, 114);
  margin-left: 40px;
}

#trainingSearchTag{
  width: 400px;
  margin-left: 10px;
}

#spanningDiv{
  margin: 30px;
  padding: 30px;
  background-color:white;
}