<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<nz-table id="templateTable" nzBordered #basicTable [nzData]="templateList">
  <thead>
    <tr>
      <th>{{ 'Template Name' | translate }}</th>
      <th>{{ 'Framework' | translate }}</th>
      <th>{{ 'Description' | translate }}</th>
      <th>{{ 'Image' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>
        <a [routerLink]="['info', data.experimentTemplateSpec.name]">
          {{ data.experimentTemplateSpec.name }}
        </a>
      </td>
      <td>{{ data.experimentTemplateSpec.experimentSpec.meta.framework }}</td>
      <td>{{ data.experimentTemplateSpec.description }}</td>
      <td>{{ data.experimentTemplateSpec.experimentSpec.environment.image }}</td>
    </tr>
  </tbody>
</nz-table>
