<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!-- style="padding-top: 5px" -->
<nz-table id="notebookListTable" #basicTable [nzData]="notebookList" nzBordered>
  <thead>
    <tr>
      <th></th>
      <th>{{ 'Name' | translate }}</th>
      <th>{{ 'Environment' | translate }}</th>
      <th>{{ 'Docker Image' | translate }}</th>
      <th>{{ 'Resources' | translate }}</th>
      <th>{{ 'Status' | translate }}</th>
      <th>{{ 'Action' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td *ngIf="data.status === 'running'">
        <i
          nz-icon
          [nzType]="'check-circle'"
          [nzTheme]="'twotone'"
          [nzTwotoneColor]="'#52c41a'"
          style="color: #08c; font-size: 24px"
        ></i>
      </td>
      <td *ngIf="data.status !== 'running'">
        <i nz-icon nzType="loading" nzTheme="outline" style="color: #08c; font-size: 24px"></i>
      </td>
      <td *ngIf="data.status === 'running'">
        <a href="{{ data.url }}" target="_blank">{{ data.name }}</a>
      </td>
      <td *ngIf="data.status !== 'running'">
        {{ data.name }}
      </td>
      <td>{{ data.spec.environment.name }}</td>
      <td>{{ data.spec.environment.dockerImage }}</td>
      <td>
        {{ data.spec.spec.resources }}
      </td>
      <td>
        <a (click)="showReason(data.reason)">
          <nz-tag [nzColor]="statusColor[data.status]">{{ data.status | translate }}</nz-tag>
        </a>
      </td>
      <td>
        <a
          id="btn-deleteNotebook{{ i }}"
          nz-popconfirm
          nzPlacement="left"
          nzTitle="{{ 'Are you sure you want to delete?' | translate }}"
          nzCancelText="{{ 'Cancel' | translate }}"
          nzOkText="{{ 'Ok' | translate }}"
          (nzOnConfirm)="onDeleteNotebook(data.notebookId)"
        >
          {{ 'Delete' | translate }}
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
