/*!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.basic-box {
  margin-bottom: 5px;
  font-size: 17px;
  font-family: Arial;
}
td {
  border: 1px solid black;
  width: 200px;
  height: 35px;
  padding-left: 5px;
}
::placeholder {
  font-size: 17px;
}
.info-box {
  margin-bottom: 5px;
  font-size: 17px;
  font-family: Arial;
  display: inline-block;
}
.container {
  margin: 15px;
  padding: 15px;
  background-color: white;
}
.discription {
  margin: 5px 0px 5px 0px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.tags-basic {
  display: inline-block;
}
.tags {
  background-color: #53c653;
  margin: 3px;
  padding: 3px;
}
.info-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.info {
  margin-bottom: 5px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline-block;
}
.info-tag {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.info-text {
  height: 35px;
  width: 250px;
  border: 1px solid black;
  font-size: 17px;
}
