<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="isVisible = false" nzTitle="Create Template" [nzWidth]="700">
  <div *nzModalFooter>
    <button nz-button id="btn-tp-form-cancel" nzType="default" (click)="isVisible = false">Cancel</button>
    <button nz-button id="btn-tp-form-create" nzType="primary" (click)="isVisible = false">Create</button>
  </div>
  <div>
    <form nz-form [formGroup]="templateForm" nzLayout="horizontal">
      <div style="margin-top: 30px">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="templateName">Template Name</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input template name!">
            <input
              required
              nz-input
              type="text"
              name="templateName"
              id="templateName"
              formControlName="name"
              placeholder="Name for template."
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description">Description</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input description for this template!">
            <textarea
              nz-input
              [nzAutosize]="{ minRows: 1, maxRows: 4 }"
              name="description"
              formControlName="description"
              id="description"
              placeholder="Description for this template."
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>
</nz-modal>
