<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.submarine.server.workbench.database.mappers.MetricMapper">
  <resultMap id="BaseEntityResultMap" type="org.apache.submarine.server.workbench.database.entity.BaseEntity">
    <id property="id" column="id"/>
    <result column="create_by" property="createBy"/>
    <result column="create_time" property="createTime"/>
    <result column="update_by" property="updateBy"/>
    <result column="update_time" property="updateTime"/>
  </resultMap>

  <resultMap id="resultMap" type="org.apache.submarine.server.workbench.database.entity.Metric" extends="BaseEntityResultMap">
    <result column="metric_key" jdbcType="VARCHAR" property="metric_key" />
    <result column="value" jdbcType="FLOAT" property="value" />
    <result column="worker_index" jdbcType="VARCHAR" property="worker_index" />
    <result column="timestamp" jdbcType="INTEGER" property="timestamp" />
    <result column="step" jdbcType="INTEGER" property="step" />
    <result column="is_nan" jdbcType="INTEGER" property="is_nan" />
    <result column="job_name" jdbcType="VARCHAR" property="job_name" />
  </resultMap>

  <sql id="Base_Column_List">
    id, metric_key, value, worker_index, timestamp, step, is_nan, job_name,
    create_by, create_time, update_by, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="resultMap">
    select
    <include refid="Base_Column_List" />
    from metric
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from metric
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="org.apache.submarine.server.workbench.database.entity.Metric"
          useGeneratedKeys="true" keyProperty="id">
    insert into metric (metric_key, value, worker_index, timestamp,
      step, step, job_name,
      create_by, create_time, update_by, update_time)
    values (#{metric_key,jdbcType=VARCHAR}, 
      #{value,jdbcType=FLOAT},
      #{worker_index,jdbcType=VARCHAR}, 
      #{timestamp,jdbcType=INTEGER}, 
      #{step,jdbcType=INTEGER},
      #{is_nan,jdbcType=INTEGER}, 
      #{job_name,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR}, now(), #{updateBy,jdbcType=VARCHAR}, now())
  </insert>

  <update id="updateByPrimaryKey" parameterType="org.apache.submarine.server.workbench.database.entity.Metric">
    update metric
    set metric_key = #{jobId,jdbcType=VARCHAR},
      value = #{jobName,jdbcType=FLOAT},
      worker_index = #{jobType,jdbcType=VARCHAR},
      timestamp = #{jobNamespace,jdbcType=INTEGER},
      step = #{jobStatus,jdbcType=INTEGER},
      is_nan = #{jobFinalStatus,jdbcType=INTEGER},
      job_name = #{userName,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
