#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: submarine-operator
replicas: 1
image: apache/submarine:operator-0.7.0
# dev is to tell helm to install submarine-operator or not
dev: false
# storageClass is for dynamically creating persistent volumes
storageClass:
  # reclaimPolicy is to determine the action after the persistent volume is released
  reclaimPolicy: Delete
  # volumeBindingMode controls when volume binding and dynamically provisioning should occur
  volumeBindingMode: Immediate
  # provisioner is to determine what volume plugin is used for provisioning PVs
  provisioner: k8s.io/minikube-hostpath
  # parameters describe volumes belonging to the storage class
  parameters:

# k8s cluster type. can be: kubernetes or openshift
clusterType: kubernetes

# PodSecurityPolicy configuration
# ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/
podSecurityPolicy:
  # Specifies whether a PodSecurityPolicy should be created,
  # This configuration enables the database/minio/server to set securityContext.runAsUser
  create: true
