.table{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    margin-top: 2rem;
    padding: 1rem;

    Table{
        background-color: #fff;
      
    }
}
