<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<nz-modal [nzVisible]="visible" nzTitle="Reset Password" nzCancelText="Close" nzOkText="Ok" (nzOnCancel)="hideModal()"
          (nzOnOk)="submitForm()">
  <form nz-form nzLayout="horizontal" [formGroup]="form">
    <nz-form-item>
      <nz-form-label>
        Account Name
      </nz-form-label>
      <nz-form-control>
        <input type="text" nz-input readonly formControlName="accountName"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>
        Password
      </nz-form-label>
      <nz-form-control nzHasFeedback nzErrorTip="Please input new password">
        <input
          nz-input
          type="password"
          formControlName="password"
          (ngModelChange)="validateConfirmPassword()"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>
        Confirm Password
      </nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
        <input type="password" nz-input formControlName="confirm"/>

        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please confirm your password!
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            Password is inconsistent!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
